---
import Layout from "../components/Layout.astro";

const capitalize = (str: string) => str.charAt(0).toUpperCase() + str.slice(1);

const widgets = await Astro.glob("../widgets/**/*.md");
const categorisedWidgets = Array.from(
  widgets
    .reduce((acc, widget) => {
      const category = capitalize(
        widget.file.split("/").at(-2) ?? "Uncategorised"
      );
      acc.add(category);
      return acc;
    }, new Set<string>())
    .values()
);
---

<Layout title="Widgets | %s">
  <div class="container mx-auto px-4 py-6">
    <h1 class="mb-4 text-4xl font-bold text-gray-900">Widgets</h1>
    {
      categorisedWidgets.map((category) => (
        <>
          <a
            href={`/widgets/${category.toLowerCase()}`}
            class="mb-4 text-xl font-bold text-blue-900"
          >
            {category}
          </a>
        </>
      ))
    }
  </div>
</Layout>
